
<div>

   <h2 style="padding: 40px;font-size: 40px; color: red; text-align: center;"><%= @team.name %></h2>

   <img class="flagpic" src="<%= asset_path( 'american-flag-1459201553ppe.jpg') %>"  />


  <h3 style="color: red; padding:30px;">Party Lead: <%= @team.owner %></h3>
<div id="create-form" style="text-align: center;">
  <div style="margin: auto;" class="list-group, col-sm-4">
    <h3 style="color: red; padding:30px;">Cabinet Members</h3>
     <% @team.players.each do |player| %>
        <%= link_to "#{player.name}", player_path(player), class: "list-group-item" %>

      <% end %>
  </div>
</div>

</div>

