* {
  font-family: playfair display;
}

.admin-links {
  display: inline-block;
  margin-left:60%;
  padding-bottom: 10px;
}
#aaa {
 background-image: url(/assets/Starsinthesky.jpg);
}
.admin-link {
  padding-right: 10px;
}

.banner {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  background-color: red;
  /*background-image: url("../images/american-flag-1459201553ppe.jpg");
  background-size: 80%;
  background-position: center;*/
}

#create-form {
  margin: 40px;
  padding-bottom: 10px;
}

.createpic {
  border-radius: 50%;
  height:350px;
  width:55%;
  margin-left: 38%;
  position: absolute;
}

#createpicplayer {
  border-radius: 50%;
  height:430px;
  width:55%;
  margin-left: 37%;
  position: absolute;
}

#createpicteam {
  border-radius: 50%;
  height:415px;
  width:59%;
  margin-left: 35%;
  position: absolute;
}

.draftpic {
  border-radius: 50%;
  height:350px;
  width:50%;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 25%;
  position: absolute;
}

.draft-details {
  text-align: center;
  list-style-type: none;
  margin-top: 40px;
  padding-bottom: 7px;
}

.draft-list {
  margin-left: 50px;
}

.enter-site {
  margin-top: 25px;
}

.error-box {
  margin-bottom: 16px;
  border: 5px;
}

.error-box p {
  margin: 0px;
  color: #4286f4;
}

.homepic {
  border-radius: 50%;
  height:400px;
  width:30%;
  display: block;
  margin: auto;
}

fieldset {
  text-align: center;
}

.flagpic {
  background-image: url(/assets/american-flag-1459201553ppe.jpg);
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;


   /*background-image: url("../images/american-flag-1459201553ppe.jpg");
  background-size: 80%;
  background-position: center;

  position: absolute;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;*/
}

footer {
  height: 90px;
  text-align: center;
  margin-top: 15%;
  padding-top: 20px;
  background-color: #001353;
  color: white;
}

.form-field {
  padding-bottom: 10px;
  font-family: helvetica;

}

#home-details {
  margin: 15px;
}

label {
  font-size: 25px;
}

.lil-banner {
  width:32%;
  height:256px;
}

.logged_in-links {
  margin-right: 80%;
}

nav {
  background-color: #001353;
}

.page-title {
  padding: 40px;
  font-size: 40px;
  color: #bb0114;
  text-align: center;
}

.title {
  font-family: Impact, sans-serif;
  color: #001353;
  text-align: center;
  font-size: 70px;
}












