
.admin-links {
  margin-left: 80%;
}

.banner {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  background-color: red;
  /*background-image: url("../images/american-flag-1459201553ppe.jpg");
  background-size: 80%;
  background-position: center;*/
}


.createpic {
  border-radius: 50%;
  height:350px;
  width:55%;
  margin-left: 35%;
  position: absolute;
}

.heropic {
  border-radius: 50%;
  height:400px;
  width:50%;
  display: block;
  margin: auto;
}

.flagpic {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}


.party-list {
  color: red;
}

.title {
  font-family: Impact, sans-serif;
  color: #001353;
  text-align: center;
  font-size: 70px;

}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-field {
  padding-bottom: 10px;

  font-family: helvetica;

}

fieldset {
  text-align: center;
}

label {
  font-size: 25px;
}

#home-details {
  margin: 15px;

}

#create-form {
  margin: 40px;
  padding-bottom: 10px;

}
