<h2>Draft</h2>

<ol>
  <% @shuffled_teams.each do |team| %>
  <li>
    <%= team.name %>
  </li>
  <% end %>
</ol>

<p>Drafting Team: <%= @drafting_team.name %></p>
<ul>
  <% @free_agents.each do |free_agent| %>
  <li>
    <%= link_to "#{free_agent.name}", contracts_path(player_id: free_agent.id, team_id: @drafting_team.id , salary: 1000), method: :post %>
  </li>
  <% end %>
</ul>

